body {
    font-family: 'Lato', sans-serif;
}

body p {
    font-family: 'Merienda', cursive;
    font-size: 20px;
}

.half {
    width: 50%;
    padding-left: 10px;
}

.half img {
    width: 80%;
}

.for3sect {
    width: 33%;
    padding-left: 10px;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.textcolor {
    color: chocolate;
}

.textcenter {
    text-align: center;
}

.flexcontainer {
    display: flex;
    margin: 5% 10% 10px 10%;
}

.sideborder {
    border-left: 10px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}

#imgsize {
    width: 650px;
    height: 650px;
}

.imagesize img {
    width: 250px;
    height: 250px;
}

.gotolink {
    text-decoration: none;
    background-image: radial-gradient(rgb(0, 204, 255), indigo);
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

.missionitem1 {
    background-color: rgba(0, 255, 255, 0.164);
    margin-right: 20px;
    padding: 5% 5% 1.5% 5%;
    border-radius: 20px;
    box-shadow: inset 10px 5px 40px cyan;
}

.missionitem2 {
    background-color: rgba(165, 42, 42, 0.253);
    padding: 5% 5% 1.5% 5%;
    border-radius: 20px;
    box-shadow: inset 10px 5px 40px rgb(255, 0, 0);
}

.missionitem3 {
    background-color: #80ff004f;
    margin-left: 20px;
    padding: 5% 5% 1.5% 5%;
    border-radius: 20px;
    box-shadow: inset 10px 5px 40px #80ff00;
}